#waggle-network-watchdog.timer
[Unit]
Description=Runs waggle-network-watchdog.service every 30 minutes

[Timer]
OnBootSec=30 m 
OnUnitActiveSec=30 m
Unit=waggle-network-watchdog.service

[Install]
WantedBy=basic.target
