[Unit]
Description=Waggle Network Watchdog

[Service]
Restart=always
RestartSec=15s
WatchdogSec=3min
ExecStart=/usr/bin/waggle_network_watchdog.py

[Install]
WantedBy=multi-user.target
