[Unit]
Description=Waggle Network Watchdog

[Service]
Restart=always
RestartSec=15s
WatchdogSec=3min
ExecStart=/usr/bin/waggle-network-watchdog

[Install]
WantedBy=multi-user.target
